# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Test Artifacts
tests/*.csv
tests/*.json
tests/*.xml

# Windows specific
Desktop/
Desktop.ini
Thumbs.db

# IDEs
.vscode/
.idea/

# Logging
*.log
